.App {
  text-align: center;
}

.startup img {
  max-width: 400px;
  cursor: pointer;
}

.startup img:not(:first-child) {
  margin-left: 20px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

.board button {
  margin: 20px auto;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
